useDynLib(SiMRiv, .registration = TRUE, .fixes = "SR_")
importFrom("methods", "new", "show", "callGeneric")
importFrom("stats", "runif", "sd", "quantile")
importFrom("utils", "flush.console")
importFrom("graphics", "axis", "box", "legend", "mtext", "par",
	"plot.new", "plot.window", "polygon", "title", "lines")
importFrom("parallel", "makeCluster", "detectCores", "clusterCall"
	, "clusterExport", "parApply", "stopCluster")
importFrom("raster", "shapefile", "raster", "extent", "rasterize"
	, "cellStats", "xyFromCell", "values")
importFrom("mco", "nsga2")

export(perceptualRange)
export(state)
export(transitionMatrix)
export(state.Resting)
export(state.RW)
export(state.CRW)
export(species)
export(sampleMovement)
export(simulate)
export(resistanceFromShape)

export(adjustModel)
export(speciesModel)
export(generationPlot)
export(binCounts)

