useDynLib(SiMRiv)
importFrom("methods", "new", "show")
importFrom("stats", "runif")
importFrom("raster", "extent")

export(perceptionWindow)
export(state)
export(transitionMatrix)
export(state.Resting)
export(state.RW)
export(state.CRW)
export(species)
export(sampleMovement)
export(simulate)

