useDynLib(SiMRiv)
importFrom("methods", "new", "show", "callGeneric")
importFrom("stats", "runif", "sd")
importFrom("sp", "proj4string")
importFrom("utils", "flush.console")

import(raster)
import(mco)
import(parallel)

export(perceptualRange)
export(state)
export(transitionMatrix)
export(state.Resting)
export(state.RW)
export(state.CRW)
export(species)
export(sampleMovement)
export(simulate)
export(resistanceFromShape)

export(adjustModel)
export(speciesModel)
export(generationPlot)
export(binCounts)
