useDynLib(SiMRiv, .registration = TRUE, .fixes = "SR_")
importFrom("methods", "new", "show", "callGeneric")
importFrom("stats", "runif", "sd")
importFrom("sp", "proj4string")
importFrom("utils", "flush.console")
importFrom("graphics", "axis", "box", "legend", "mtext", "par",
	"plot.new", "plot.window", "polygon", "title")
import(raster)
import(mco)
import(parallel)
import(rgdal)

export(perceptualRange)
export(state)
export(transitionMatrix)
export(state.Resting)
export(state.RW)
export(state.CRW)
export(species)
export(sampleMovement)
export(simulate)
export(resistanceFromShape)

export(adjustModel)
export(speciesModel)
export(generationPlot)
export(binCounts)
